@import "../../../styles.scss";

.user-image {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  box-shadow: $shadow;

  @media(max-width: 768px) {
    max-width: 200px;
  }
}

.user-info {
  margin-top: -1.6em;
  font-size: 1.4em;
}

.user-name {
  font-size: 1.5em;
}

.map-image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.random-images-wrapper {
  @media(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.random-image {
  display: inline-block;
  border-radius: 50%;
  box-shadow: $shadow;
  margin: 0 auto 1em auto;
}

.contacts {
  a {
    display: inline-block;
    color: white;
    vertical-align: top;
    text-align: center;
  }
}