<h1>{{title}}</h1>
<div class="subtitle">{{subtitle}}</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let project of projects">
    <div class="project">
      <img class="project-image" src="{{project.image}}" alt="{{project.title}}">
      <div class="project-info">
        <div class="name">{{ project.name }}</div>
        <div class="description">{{ project.description }}</div>
        <div class="project-links">
          <a href="{{ project.repoUrl }}" target="_blank" mdTooltip="View on Github" ><i class="devicon-github-plain"></i></a> &nbsp;
          <a href="{{ project.pageUrl }}" target="_blank" mdTooltip="Go to the demo-page" ><i class="devicon-chrome-plain"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>